---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<div class="content">

    <article class="article  article--page  typeset">

			{% if paginator.posts %}
				{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
				<h1>{{ collectiondata.title }}</h1>
				{{ collectiondata.description | markdownify }}

			{% else %}
                            <div class="personal-info">
                                <h1>
                                  <a href="https://github.com/igor-drozdov"
                                    target="_blank">
                                    <img src="assets/github.png" />
                                  </a>
                                  <a href="https://stackoverflow.com/users/2199600/igor-drozdov?tab=profile"
                                    target="_blank">
                                    <img src="assets/stackoverflow.png" />
                                  </a>
                                  <a href="https://twitter.com/rogiwodzard"
                                    target="_blank">
                                    <img src="assets/twitter.png" />
                                  </a>
                                  <a href="https://www.linkedin.com/in/igor-drozdov-b58222102/"
                                    target="_blank">
                                    <img src="assets/linkedin.png" />
                                  </a>

                                  <a href="mailto:ihar.drozdov@gmail.com"
                                    target="_blank">
                                    <img src="assets/gmail.png" />
                                  </a>
                                </h1>
				<h4>{{ page.title }}</h4>
                              </div>
				{{ content }}
				
			{% endif %}

    </article>

    {% include post-list.html %}

  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
