---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<div class="content">

    <article class="article  article--page  typeset">

			{% if paginator.posts %}
				{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
				<h1>{{ collectiondata.title }}</h1>
				{{ collectiondata.description | markdownify }}

			{% else %}
                            <div class="personal-info">
                                <h1>
                                  <a href={{site.social_links.gmail}}
                                    target="_blank">
                                    <svg width=32 height=32> <use href="#gmail"/></svg>
                                  </a>
                                  <a href={{site.social_links.github}}
                                    target="_blank">
                                    <svg width=32 height=32> <use href="#github"/></svg>
                                  </a>
                                  <a href={{site.social_links.stackoverflow}}
                                    target="_blank">
                                    <svg width=32 height=32> <use href="#stackoverflow"/></svg>
                                  </a>
                                  <a href={{site.social_links.twitter}}
                                    target="_blank">
                                    <svg width=32 height=32> <use href="#twitter"/></svg>
                                  </a>
                                  <a href={{site.social_links.linkedin}}
                                    target="_blank">
                                    <svg width=32 height=32> <use href="#linkedin"/></svg>
                                  </a>

                                </h1>
				<h4>{{ page.title }}</h4>
                              </div>
				{{ content }}
			{% endif %}

    </article>

    {% include post-list.html %}

  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
